@import "src/variables.scss";

.about {
  background-color: $black;
  padding: 30px 20px;
  border-radius: 6px;

  min-width: 264px;
  min-height: 300px;

  h1,
  h2 {
    margin-bottom: 10px;
  }

  h3 {
    line-height: 170%;
    font-weight: 400;
    font-size: 14px;
  }
  a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }

  a:link {
    color: $orange;
  }

  a:visited {
    color: $pink;
  }
  &__title {
    margin-bottom: 40px;
  }
}
