$black: rgba(0, 0, 0, 1);
$gray:rgba(0, 0, 0, 0.08);
$white: rgba(255, 255, 255, 1);
$orange: rgba(250, 255, 0, 1);
$blue: rgba(57, 43, 255, 1);
$pink:rgba(255, 133, 119, 1);


$container-width: 90%;
$duration: 0.15s;